<p class="bread">当前位置&nbsp;：&nbsp;招聘信息&nbsp;>>&nbsp;招聘会</p>

<div [@flyIn]="'active'" class="child-content">
    <p>招聘会</p>
    <div *ngIf="detail">
        <div class="meetingDiv" *ngFor="let item of meetingData.important">
            <p><img src="../../assets/up1.png">&nbsp;<span class="meeting-title" routerLink="{{item.id}}">{{item.title}}</span><span class="meeting-small">{{item.date}}</span></p>
            <p><span style="font-size: 14px;">地点：{{item.place}}</span><br><span class="meeting-small">举办时间：{{item.held_date}}&nbsp;&nbsp;{{item.held_time}}</span></p>
        </div>
        <div [@flyIn]="'active'" class="meetingDiv" *ngFor="let item of meetingData.info">
            <p><img src="../../assets/next.png">&nbsp;<span class="meeting-title" routerLink="{{item.id}}">{{item.title}}</span><span class="meeting-small">{{item.date}}</span></p>
            <p><span style="font-size: 14px;">地点：{{item.place}}</span><br><span class="meeting-small">举办时间：{{item.held_date}}&nbsp;&nbsp;{{item.held_time}}</span></p>
        </div>
        <div [@flyIn]="'active'" class="child-page" style="margin-top: 30px;">
            <span class="change-page" (click)="frontPage()">上一页</span>
            <span class="pages" *ngFor="let i of pages" (click)="onSelect(i)" [ngStyle]="{'background-color': i === currentPage?'#51bb95':'white'}">{{i}}</span>
            <span class="change-page" (click)="nextPage()">下一页</span>
            <span style="padding-left: 30px;">共 {{meetingData.total_page}} 页</span>
        </div>
    </div>

    <div *ngIf="!detail">
		<p class="content-title">{{content.title}}</p>
		<p class="content-ex">发布时间：{{content.date}}<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>浏览量：{{content.click}}</p>
		<div [innerHtml]="content.content"></div>
	</div>
</div>
