<p class="bread">当前位置&nbsp;：&nbsp;招聘信息&nbsp;>>&nbsp;村官基层专栏</p>

<div [@flyIn]="'active'" class="child-content">
    <p>大学生村官</p>
    <table>
		<tr>
			<td></td>
			<td class="child-time">发布时间</td>
		</tr>
		<tr *ngFor="let item of villageData.original.university" [@flyIn]="'active'">
			<td><span class="child-title" title="{{item.title}}"><img src="../../assets/next.png">&nbsp;{{item.title | shorter}}</span></td>
			<td class="child-time">{{item.date}}</td>
		</tr>
	</table>
    <p>三支一扶</p>
    <table>
		<tr>
			<td></td>
			<td class="child-time">发布时间</td>
		</tr>
		<tr *ngFor="let item of villageData.original.three_one" [@flyIn]="'active'">
			<td><span class="child-title" title="{{item.title}}"><img src="../../assets/next.png">&nbsp;{{item.title | shorter}}</span></td>
			<td class="child-time">{{item.date}}</td>
		</tr>
	</table>
    <p>西部计划</p>
    <table>
		<tr>
			<td></td>
			<td class="child-time">发布时间</td>
		</tr>
		<tr *ngFor="let item of villageData.original.western" [@flyIn]="'active'">
			<td><span class="child-title" title="{{item.title}}"><img src="../../assets/next.png">&nbsp;{{item.title | shorter}}</span></td>
			<td class="child-time">{{item.date}}</td>
		</tr>
	</table>
</div>