<div [@flyIn]="'active'" class="download-box">
		<div class="download-left">
			<app-calendar></app-calendar>
			<app-worktime></app-worktime>
			<app-relativelink></app-relativelink>
		</div>
		<div class="download-right">
			<div class="downloadinfo">
				<p>下载中心</p>
				<table>
					<tr>
						<td></td>
						<td class="download-time">发布时间</td>
						<td class="download-click">下载量</td>
					</tr>
					<tr *ngFor="let item of downloadData.data_download">
						<td><span class="download-title" title="{{item.title}}"><a href="{{item.file}}" target="_blank"><img src="../../assets/next.png">&nbsp;{{item.title | shorter}}</a></span></td>
						<td class="download-time">{{item.date}}</td>
						<td class="download-click">{{item.click}}</td>
					</tr>
				</table>
				<div class="download-page">
					<span class="change-page" (click)="frontPage()">上一页</span>
					<span class="pages" *ngFor="let i of pages" (click)="onSelect(i)" [ngStyle]="{'background-color': i === currentPage?'#51bb95':'white'}">{{i}}</span>
					<span class="change-page" (click)="nextPage()">下一页</span>
					<span style="padding-left: 30px;">共 {{downloadData.all_page}} 页</span>
				</div>
			</div>
		</div>
</div>
