<p class="bread">当前位置&nbsp;：&nbsp;招聘信息&nbsp;>>&nbsp;实习生专栏&nbsp;>>&nbsp;实习生招聘简章</p>

<div [@flyIn]="'active'" class="child-content">
    <p>实习生招聘简章</p>
    <table>
		<tr *ngFor="let item of internbriefData.shixizp" [@flyIn]="'active'">
			<td><span class="child-title" title="{{item.title}}"><img src="../../assets/next.png">&nbsp;{{item.title | shorter}}</span></td>
		</tr>
	</table>
	<div class="child-page">
		<span class="change-page" (click)="frontPage()">上一页</span>
		<span class="pages" *ngFor="let i of pages" (click)="onSelect(i)" [ngStyle]="{'background-color': i === currentPage?'#51bb95':'white'}">{{i}}</span>
		<span class="change-page" (click)="nextPage()">下一页</span>
		<span style="padding-left: 30px;">共 {{internbriefData.total_page}} 页</span>
	</div>
</div>