.intern-button {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #51bb95;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
    }

    .intern-button:hover {
        background-color: #358166;
    }

.child-content table {
    width: 100%;
    margin-bottom: 50px;
    line-height: 30px;
    padding-left: 10px;
}

.content img {
    width: 100%;
}

.bread {
    margin-top: 0;
    color: #888;
    font-size: 14px;
    letter-spacing: 2px;
}

.child-content > p {
    letter-spacing: 1px;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 10px;
    border-left: 5px solid #51bb95;
}

.child-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.child-left {
    width: 20%;
    margin-right: 10%;
}

.child-right {
    width: 70%;
}

.child-title {
    cursor: pointer;
    transition: all 0.5s linear;
}

.child-title:hover {
    color: #51bb95;
}

.child-time,
.child-click {
    text-align: center;
}

.childinfo {
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    width: 100%;
    border: 1px solid #51bb95;
    border-right: 15px solid #51bb95;
    border-bottom: 15px solid #51bb95;
}

.childinfo p {
    font-size: 20px;
    margin: 10px 0;
    padding-left: 10px;
    border-left: 5px solid #51bb95;
}

.child-page {
    font-size: 14px;
    color: #959595;
    padding: 0 0 20px 0;
    text-align: center;
}

.pages {
    color: #666;
    padding: 3px 6px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pages:hover {
    color: black;
}

.change-page {
    cursor: pointer;
}

.change-page:hover {
    color: black;
}

.content-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.content-ex {
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .child-box {
        display: block;
    }

    .childinfo {
        box-sizing: border-box;
    }

    .child-left,
    .child-right {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .child-time,
    .child-click {
        display: none;
    }
}

@media screen and (min-width: 1400px) {
    .childinfo p {
        font-size: 30px;
    }

    .child-content table {
        color: #444;
        font-size: 20px;
        line-height: 40px;
    }
}