<nav>
    <div class="nav-item">
        <ul>
            <li (click)="toggleShow(true)" routerLink="/main" routerLinkActive="active"><a>首页</a></li>
            <li (click)="toggleShow(false)" routerLink="/public" routerLinkActive="active"><a>公告信息</a></li>
            <li (click)="toggleShow(false)" routerLink="/work" routerLinkActive="active"><a>工作动态</a></li>
            <li (click)="toggleShow(false)" routerLink="/recruitment" routerLinkActive="active"><a>招聘信息</a></li>
            <li (click)="toggleShow(false)" routerLink="/policy" routerLinkActive="active"><a>就业政策</a></li>
            <li (click)="toggleShow(false)" routerLink="/guidance" routerLinkActive="active"><a>就业指导</a></li>
        </ul>
    </div>
</nav>

<header>
    <div class="nav-item">
        <h2>天津大学就业指导中心</h2>
        <h3>THE CAREER CENTER OF TIANJIN <br>UNIVERSITY</h3>
    </div>
    <img src="../assets/activity.png">
</header>

<div class="navigation">
    <div (click)="toggleArrow()" class="menu">
        <img [ngClass]="around" src="../assets/arrow_down.png" alt="pull to get the navigation">
    </div>
    <ul (click)="toggleArrow()" [ngClass]="downmenu">
        <li (click)="toggleShow(true);" routerLink="/main" routerLinkActive="active"><a>首页</a></li>
        <li (click)="toggleShow(false)" routerLink="/public" routerLinkActive="active"><a>公告信息</a></li>
        <li (click)="toggleShow(false)" routerLink="/work" routerLinkActive="active"><a>工作动态</a></li>
        <li (click)="toggleShow(false)" routerLink="/recruitment" routerLinkActive="active"><a>招聘信息</a></li>
        <li (click)="toggleShow(false)" routerLink="/policy" routerLinkActive="active"><a>就业政策</a></li>
        <li (click)="toggleShow(false)" routerLink="/guidance" routerLinkActive="active"><a>就业指导</a></li>
    </ul>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div *ngIf="dataService.showAbout" class="about">
    <div class="icon">
        <div class="icon-background">
            <div class="icon-unit">
                <img (click)="toggleShow(false)" routerLink="/policy" src="../assets/page.png" alt="policy">
            </div>
            <p (click)="toggleShow(false)" routerLink="/policy">就业政策</p>
        </div>

        <div class="icon-background">
            <div class="icon-unit">
                <img style="margin-top: 15px;" (click)="toggleShow(false)" routerLink="/guidance" src="../assets/compass.png" alt="guidance">
            </div>
            <p (click)="toggleShow(false)" routerLink="/guidance">就业指导</p>
        </div>

        <div class="icon-background">
            <div class="icon-unit">
                <img (click)="toggleShow(false)" routerLink="/download" src="../assets/download.png" alt="download">
            </div>
            <p (click)="toggleShow(false)" routerLink="/download">下载专区</p>
        </div>

        <div class="icon-background">
            <div class="icon-unit">
                <img (click)="toggleShow(false)" routerLink="/service" src="../assets/i.png" alt="service">
            </div>
            <p (click)="toggleShow(false)" routerLink="/service">单位服务</p>
        </div>
    </div>
</div>

<div *ngIf="dataService.showAbout" class="about addabout">
    <div class="aboutinfo">
        <div class="about-left">
            <p>办公时间  <sub>（节假日除外）</sub></p>
            <ul>
                <li>上午 8:30-12:00</li>
                <li>下午 13:00-16:30</li>
                <li>周五16:30以后为中心内部学习时间，不办理就业手续</li>
                <li>每周二、四上午:办理往届生就业手续以及违约、改派手续</li>
            </ul>
        </div>
        <div class="about-right">
            <p>相关链接</p>
            <ul>
                <li><a href="http://qnzs.youth.cn/2016jyj/" target="_blank">青年之声·2016年就业服务季</a></li>
                <li><a href="http://sbc.tju.edu.cn/CNA/index.html" target="_blank">天津大学职业导航协会</a></li>
                <li><a href="http://tju.ncss.org.cn/login" target="_blank">全国大学生就业信息服务一体化系统（天津大学）</a></li>
                <li><a href="http://job.ncss.org.cn/login" target="_blank">全国大学生就业一站式服务系统</a></li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <p>通讯地址：天津大学就业指导中心   邮编：300072</p>
    <p>卫津路校区：大学生活动中心一层108、106室  北洋园校区：大学生活动中心一层C107、C109室</p>
    <p>传真：022-27401054</p>
    <p>联系电话：卫津路校区 022-83613600   北洋园校区 022-27401081转8000或8001</p>
    <p>招聘邮箱：job@tju.edu.cn</p>
    <p>&nbsp;</p>
    <p>天外天工作室 / © 2000-2017 / <a href="http://www.miibeian.gov.cn/" target="_blank">津ICP备05004358号-12</a> / 津教备0767号</p>
    <p><a href="https://coder.twtstudio.com">关于我们</a>&nbsp;/&nbsp;<a href="https://coder.twtstudio.com/hr">加入我们</a></p>
</footer>
