@keyframes myfirst
{
    from { margin-top: 0; opacity: 0; }
    to { margin-top: 16px; opacity: 1; }
}

header {
    width: 100%;
    height: 80px;
    padding: 80px 0;
    padding-bottom: 30px;
    background-color: #434343;
}

header img {
    position: absolute;
    right: 12.5%;
    width: 350px;
    top: 10px;
    z-index: 0;
}

ul {
    background-color: #313131;
}

nav {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #313131;
    color: white;
    padding: 10px 0;
    z-index: 1;
}

nav ul {
    float: right;
    margin-top: 10px;
}

nav li {
    outline: none;
    list-style: none;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    transition: all 0.5s linear;
}

nav li:hover {
    color: #51bb95;
}

app-calendar {
    width: 100%;
}

br {
    display: none;
}

footer {
    text-align: center;
    width: 100%;
    padding: 20px 0 40px 0;
    background-color: #2c2d2f;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 5px 0;
    padding: 0 10px;
    color: #ccc;
    font-size: 12px;
}

.active {
    color: #51bb95;
}

.nav-item {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.nav-item h2 {
    margin: 10px 0 5px 0;
    color: #51bb95;
}

.nav-item h3 {
    margin: 0;
    color: white;
    font-weight: normal;
    font-family: Adobe Gothic Std B;
}

.navigation {
    background-color: #434343;
    color: white;
    text-align: center;
    display: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    animation: myfirst 0.5s;
}

.navigation li {
    outline: none;
    padding: 20px 0;
    list-style: none;
    cursor: pointer;
    transition: all 0.5s linear;
}

.navigation li:hover {
    color: #51bb95;
}

.menu img {
    transition: all 0.5s linear;
}

.around {
    transform: rotate(-180deg);
}

.container {
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 50px;
}

.about {
    margin-top: 80px;
    background-color: #313131;
    width: 100%;
    height: 120px;
    text-align: center;
}

.addabout {
    margin-top: 0;
    padding: 20px 0;
}

.icon {
    width: 60%;
    margin: 0 auto;
}

.icon-background {
    margin-top: -35px;
    width: 25%;
    float: left;
}

.icon-background p {
    color: #ccc;
    cursor: pointer;
    transition: all 0.5s linear;
}

.icon-background p:hover {
    color: #51bb95;
}

.icon-unit {
    cursor: pointer;
    background-color: #51bb95;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    margin: 0 auto;
}

.icon-unit img {
    margin: 18px 0;
}

.aboutinfo {
    width: 70%;
    margin: 0 auto;
    color: #ccc;
}

.aboutinfo ul {
    margin: 0;
    padding-left: 20px;
    list-style: none;
    font-size: 14px;
}

.aboutinfo li {
    margin: 5px 0;
}

.about-left {
    float: left;
    text-align: left;
}

.about-right {
    float: right;
    text-align: left;
}

.about-right a {
    text-decoration: none;
    color: #ccc;
}

.about-right a:hover {
    color: white;
}

.about-left p,
.about-right p {
    margin: 0;
}

@media screen and (max-width: 900px) {
    header {
        padding-top: 2px;
    }

    header img {
        display: none;
    }

    nav {
        display: none;
    }

    br {
        display: block;
    }

    .nav-item {
        width: 85%;
    }

    .nav-item h2 {
        padding-top: 0;
    }

    .nav-item h3 {
        font-size: 14px;
    }

    .downmenu {
        display: none;
    }

    .navigation {
        display: block;
    }

    .container,
    .icon {
        width: 95%;
    }

    .about-right {
        margin-top: 20px;
        float: left;
    }

    .addabout {
        height: 340px;
    }
}

@media screen and (min-width: 1400px) {
    .aboutinfo {
        width: 50%;
    }
}