<nav>
    <div class="nav-item">
        <ul>
            <li (click)="this.showAbout = true" routerLink="/main"><a>首页</a></li>
            <li (click)="this.showAbout = false" routerLink="/public"><a>公告信息</a></li>
            <li (click)="this.showAbout = false" routerLink="/work"><a>工作动态</a></li>
            <li (click)="this.showAbout = false" routerLink="/recruitment"><a>招聘信息</a></li>
            <li (click)="this.showAbout = false" routerLink="/policy"><a>就业政策</a></li>
            <li (click)="this.showAbout = false" routerLink="/guidance"><a>就业指导</a></li>
        </ul>
    </div>
</nav>

<header>
    <div class="nav-item">
        <h2>天津大学就业指导中心</h2>
        <h3>THE CAREER CENTER OF TIANJIN UNIVERSITY</h3>
    </div>
</header>

<div class="navigation">
    <div (click)="toggleArrow()" class="menu">
        <img [ngClass]="around" src="../assets/arrow_down.png" alt="pull to get the navigation">
    </div>
    <ul (click)="toggleArrow()" [ngClass]="downmenu">
        <li (click)="this.showAbout = true" routerLink="/main"><a>首页</a></li>
        <li (click)="this.showAbout = false" routerLink="/public"><a>公告信息</a></li>
        <li (click)="this.showAbout = false" routerLink="/work"><a>工作动态</a></li>
        <li (click)="this.showAbout = false" routerLink="/recruitment"><a>招聘信息</a></li>
        <li (click)="this.showAbout = false" routerLink="/policy"><a>就业政策</a></li>
        <li (click)="this.showAbout = false" routerLink="/guidance"><a>就业指导</a></li>
    </ul>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<div *ngIf="showAbout" class="about">
    
</div>
