table {
    width: 100%;
    margin-bottom: 50px;
    line-height: 30px;
    padding-left: 10px;
    border-collapse: collapse;
}

.guidance-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.guidance-left {
    width: 25%;
    margin-right: 5%;
}

.guidance-right {
    width: 70%;
}

.guidance-title {
    cursor: pointer;
    transition: all 0.5s linear;
}

.guidance-title:hover {
    color: #51bb95;
}

.guidance-time,
.guidance-click {
    text-align: center;
}

.guidanceinfo {
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    width: 100%;
    border: 1px solid #51bb95;
    border-right: 15px solid #51bb95;
    border-bottom: 15px solid #51bb95;
}

.guidanceinfo > p {
    font-size: 20px;
    margin: 10px 0;
    padding-left: 10px;
    border-left: 5px solid #51bb95;
}

.guidance-page {
    font-size: 14px;
    color: #959595;
    padding: 0 0 20px 0;
    text-align: center;
}

.pages {
    color: #666;
    padding: 3px 6px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pages:hover {
    color: black;
}

.change-page {
    cursor: pointer;
}

.change-page:hover {
    color: black;
}

.content-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.content-ex {
    text-align: center;
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    td {
        padding: 10px 0;
    }

    .guidanceinfo {
        box-sizing: border-box;
    }

    .guidance-left,
    .guidance-right {
        width: 100%;
    }

    .guidance-left {
        order: 1;
        margin-top: 40px;
        margin-right: 0;
    }

    .guidance-right {
        order: 0;
    }
}

@media screen and (max-width: 500px) {
    .guidance-time,
    .guidance-click {
        display: none;
    }
}

@media screen and (min-width: 1400px) {
    .guidanceinfo p {
        font-size: 30px;
    }

    table {
        color: #444;
        font-size: 20px;
        line-height: 40px;
    }
}