<p class="bread">当前位置&nbsp;：&nbsp;招聘信息&nbsp;>>&nbsp;公务员专栏</p>

<div [@flyIn]="'active'" class="child-content">
    <p>公务员专栏</p>
    <div *ngIf="detail">
		<table>
			<tr>
				<td></td>
				<td class="child-time">发布时间</td>
				<td class="child-click">浏览量</td>
			</tr>
			<tr *ngFor="let item of civilData.important" [@flyIn]="'active'">
				<td><span class="child-title" title="{{item.title}}" routerLink="{{item.id}}"><img src="../../assets/up1.png">&nbsp;{{item.title | shorter}}</span></td>
				<td class="child-time">{{item.date}}</td>
				<td class="child-click">{{item.click}}</td>
			</tr>
			<tr *ngFor="let item of civilData.info" [@flyIn]="'active'">
				<td><span class="child-title" title="{{item.title}}" routerLink="{{item.id}}"><img src="../../assets/next.png">&nbsp;{{item.title | shorter}}</span></td>
				<td class="child-time">{{item.date}}</td>
				<td class="child-click">{{item.click}}</td>
			</tr>
		</table>
		<div class="child-page">
			<span class="change-page" (click)="frontPage()">上一页</span>
			<span class="pages" *ngFor="let i of pages" (click)="onSelect(i)" [ngStyle]="{'background-color': i === currentPage?'#51bb95':'white'}">{{i}}</span>
			<span class="change-page" (click)="nextPage()">下一页</span>
			<span style="padding-left: 30px;">共 {{civilData.total_page}} 页</span>
		</div>
	</div>

	<div *ngIf="!detail">
		<p class="content-title">{{content.title}}</p>
		<p class="content-ex">发布时间：{{content.date}}<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>浏览量：{{content.click}}</p>
		<div [innerHtml]="content.content"></div>
	</div>
</div>