<div class="public-box">
		<div class="public-left">
			<app-calendar></app-calendar>
			<app-worktime></app-worktime>
			<app-relativelink></app-relativelink>
		</div>
		<div class="public-right">
			<div class="publicinfo">
				<p>公告信息</p>
				<table>
					<tr>
						<td></td>
						<td class="public-time">发布时间</td>
						<td class="public-click">浏览量</td>
					</tr>
					<tr *ngFor="let item of publicData.data_important">
						<td style="color: red;"><span class="public-title"><sup>[置顶]</sup>{{item.title}}</span></td>
						<td class="public-time">{{item.date}}</td>
						<td class="public-click">{{item.click}}</td>
					</tr>
					<tr *ngFor="let item of publicData.data_notice">
						<td><span class="public-title">{{item.title}}</span></td>
						<td class="public-time">{{item.date}}</td>
						<td class="public-click">{{item.click}}</td>
					</tr>
				</table>
				<div class="public-page">
					<span>上一页</span>
					<span>下一页</span>
				</div>
			</div>
		</div>
</div>
