<p class="bread">当前位置&nbsp;：&nbsp;招聘信息&nbsp;>>&nbsp;招聘简章</p>

<div [@flyIn]="'active'" class="child-content">
    <p>招聘简章</p>
    <div *ngIf="detail">
		<table>
			<tr>
				<td></td>
				<td class="child-time">发布时间</td>
				<td class="child-click">浏览量</td>
			</tr>
			<tr *ngFor="let item of briefData.important" [@flyIn]="'active'">
				<td><span class="child-title" title="{{item.title}}" routerLink="{{item.id}}"><img src="../../assets/up1.png">&nbsp;{{item.title | shorter}}</span></td>
				<td class="child-time">{{item.date}}</td>
				<td class="child-click">{{item.click}}</td>
			</tr>
			<tr *ngFor="let item of briefData.info" [@flyIn]="'active'">
				<td><span class="child-title" title="{{item.title}}" routerLink="{{item.id}}"><img src="../../assets/next.png">&nbsp;{{item.title | shorter}}</span></td>
				<td class="child-time">{{item.date}}</td>
				<td class="child-click">{{item.click}}</td>
			</tr>
		</table>
		<div class="child-page">
			<span class="change-page" (click)="frontPage()">上一页</span>
			<span class="pages" *ngFor="let i of pages" (click)="onSelect(i)" [ngStyle]="{'background-color': i === currentPage?'#51bb95':'white'}">{{i}}</span>
			<span class="change-page" (click)="nextPage()">下一页</span>
			<span style="padding-left: 30px;">共 {{briefData.total_page}} 页</span>
		</div>
	</div>

	<div *ngIf="!detail">
		<p class="content-title">{{content.title}}</p>
		<p class="content-ex">发布时间：{{content.date}}<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>浏览量：{{content.click}}</p>
		<div class="content" [innerHtml]="content.content"></div>
		<p *ngIf="content.attach1_name" style="font-weight: bold;">相关附件</p>
					<p *ngIf="content.attach1_name">1.<a class="attach" href="{{content.attach1}}" target="_blank">{{content.attach1_name}}</a></p>
					<p *ngIf="content.attach2_name">2.<a class="attach" href="{{content.attach2}}" target="_blank">{{content.attach2_name}}</a></p>
					<p *ngIf="content.attach3_name">3.<a class="attach" href="{{content.attach3}}" target="_blank">{{content.attach3_name}}</a></p>
					<div style="height: 20px;"></div>
	</div>
</div>